<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
  <description>Empty web.xml file for Web Application</description>
  <context-param>
    <param-name>db.source</param-name>
    <param-value>java:/rssDS</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>restful-rss</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallNumberServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.CallNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LanguageServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.LanguageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.LocationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PubYearsServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.PubYearsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmationServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.ConfirmationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.rss.custom.web.servlets.FeedServlet</servlet-class>
  </servlet>
  <!--servlet-mapping>
    <servlet-name>restful-rss</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping-->
  <servlet-mapping>
    <servlet-name>FeedServlet</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallNumberServlet</servlet-name>
    <url-pattern>/callnumberservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LanguageServlet</servlet-name>
    <url-pattern>/languageservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/locationservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PubYearsServlet</servlet-name>
    <url-pattern>/pubyearsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmationServlet</servlet-name>
    <url-pattern>/confirmationservlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <!--welcome-file>index.jsp</welcome-file-->
    <welcome-file>callNumbers.jsp</welcome-file>
  </welcome-file-list>
</web-app>
